
.body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header flex */
nav{
  display: flex;
  justify-content: space-between;
  margin: 40px;
  margin-left: 150px;
  align-items: center;
}
.logo{
  font-size: 40px;
  color: #4E47FF;
}
.sign{
  margin-right: 140px;
}
.buttoni{
  font-size: 1em;
  background-color: #4E47FF;
  color: aqua;
  padding: 4px;
  border-radius: 5px;
}
nav ul li{
  list-style: none;
}
